html, body {
    height: 100%;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}
@media (min-width: 980px) {
    body {
        padding-top: 40px;
    }
}
@media (max-width: 980px) {
    body {
        padding-top: 0px;
    }
    .navbar {
        margin-bottom: 0px;
    }
    .navbar-fixed-top .navbar-inner {
        padding: 0px;
    }
}

#info-bar {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 3;
}

#info-loading {
    display: none;
}
#info-map {
    display: none;
}
#info-streetview {
    display: none;
    opacity: 0.95;
}
#close-streetview {
    float: right;
}

#map-canvas {
    height: 100%;
}

.alert {
    margin: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

#map-init-progress {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

.progress {
    opacity:0.9;
    margin: 0px;
}

#map-init-progress_bar {
    width: 0%;
}
