<span id="map-init-progress">
    <div class="progress progress-info progress-striped active">
        <div id="map-init-progress-bar" class="bar"></div>
    </div>
</span>
<div id="info-bar">
    <div id="info-loading" class="alert">
        <h4 class="alert-heading"><i class="icon-time"></i> ローディング中・・・</h4>
        直近の位置情報をローディング中しています。
    </div>
    <div id="info-map" class="alert alert-info">
        <a id="close-map-msg" class="close">×</a>
        <h4 class="alert-heading"><i class="icon-map-marker"></i> 位置情報</h4>
        iPhoneの位置をリアルタイムに表示します。マーカーをクリックするとストリートビューが表示されます。
    </div>
    <div id="info-streetview" class="alert alert-success">
        <a id="close-streetview" class="btn btn-success" ><i class="icon-remove icon-white"></i>&nbsp;閉じる</a>
        <h4 class="alert-heading"><i class="icon-facetime-video"></i> ストリートビュー</h4>
        iPhoneの位置と向きがリアルタイムに反映します。
    </div>
</div>
<div id="map-canvas"></div>
